<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>darkthemeuid</key>
	<string>theme.custom.0EB91B30-B466-4C9B-AEEB-AD38A58136B6</string>
	<key>lightthemeuid</key>
	<string>theme.custom.498DDA58-1A83-4D9D-8BDF-817BE11A5945</string>
</dict>
</plist>
